// ##############################################################
// Settings #####################################################
// ##############################################################
.ant-form-item-control-input-content [type="color"] {
    appearance: none;
    padding: 0;
    width: 3rem;
    height: 1.5rem;
    border: none;
    border-radius: 8px;
}

.ant-form-item-control-input-content [type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.ant-form-item-control-input-content [type="color"]::-webkit-color-swatch {
    border: none;
}