@import "./variables.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css";

// ##############################################################
// Page Layout ##################################################
// ##############################################################
body {
  margin: 0 auto;
  font-family: $bodyFont;
}

header {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

aside {
  padding-top: 1rem;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
}

.site-page-header {
  margin-bottom: 1rem;

  .ant-typography {
    margin: 0;
  }
}

.site-page-header .ant-card-body {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

main.ant-layout-content {
  margin: $layoutMargin;
  padding: $layoutPadding;
  min-height: 98vh;
}

.ant-layout-sider-trigger {
  display: none;
}

.logo {
  text-align: center;
}

.logo img {
  height: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.ant-layout-sider-collapsed .logo img {
  height: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.breadcrumb {
  margin-bottom: 1rem;
}

.ant-divider-horizontal {
  margin: 1rem 0;
}

.text-right {
  text-align: right;
}


//  ###############################################################################
// Sidebar Style ##################################################################
//  ###############################################################################
.ant-layout-sider-children {
  position: relative;
}

.toggle-collapse {
  position: absolute;
  cursor: pointer;
  right: -18px;
  width: 18px;
  padding: 35px 2px;
  top: 160px;
  z-index: 1;
  background: $colorPrimary;
  color: #fff;
  border: none;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);

  span {
    padding: 0;
  }
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: $colorPrimary;
}

.ant-menu li:hover {
  .ant-menu-item-icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.2s ease;
  }

  .ant-menu-title-content {
    margin-left: 15px;
    transition: all 0.2s ease;
  }
}
