// $bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// $codeFont: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

$bodyFont: "Roboto", sans-serif;
$codeFont: "Source Sans Pro", sans-serif;

$layoutMargin: 6px 12px;
$layoutPadding: 10px 12px;
$colorPrimary: #1890ff;
$colorBlack: #001529;
$colorSecondary: #3b3b3b;
$colorWhite: #fff;
$colorGrey: #d9d9d9;
$colorGreen: #d9d9d9;
$colorLightBlue: #f4f7fc;
$activeState: #7bc617;
$expiredState: #ff555f;
$inActiveState: #fa8c24;
$folioBlue: #4b7eef;
$folioYellow: #f5c300;
$folioRed: #ed2639;
